body{
    background-image: url("image3.jpg");
    background-size: cover;
}
h2{
    text-align: center;
    margin-top:50px;

}
form{
   margin-top:40px ;
   margin-left: 500px;
   width:100px;
   text-align: center;
   border:1px ;
}
.box{
    border-radius: 20px;
    padding: 15px;
    margin:7px 0;
    width:400%;

    outline:#000;
    }

button{
    color:#fff;
    width:6%;
    border-radius: 20px;
    padding:6px;
    outline:none;
    border:none;
    font-size:15px;
    cursor: pointer;
    margin-left:630px;
    margin-top: 10px;
}
.con{
    background-color: #1c8abd;
}
p{
    text-align: center;
}